## Config

In [1]:
# change to raw data file
INPUT_DATA_PATH1 = "../../data/raw/Koopprijzen/verkoopprijzen_meer_jaren.csv"
INPUT_DATA_PATH2 = "../../data/raw/Koopprijzen/Gemiddelde_WOZ_waarde_van_woningen_op_1_januari__eigendom__regio__12122024_144034.csv"
INPUT_SHAPEFILE_PATH = "../../data/gemeente_shapefiles/gemeente_shapefile.shp"

# set true or false
SAVE_OUTPUT = True
# change to filename
OUTPUT_DATA_PATH = "../../data/processed/verkoopprijzen.csv"

In [2]:
import numpy as np
import pandas as pd
import geopandas as gpd

## Load data

In [3]:
# load data
df1 = pd.read_csv(INPUT_DATA_PATH1, sep = ';')
df2 = pd.read_csv(INPUT_DATA_PATH2, sep = ',')
gdf = gpd.read_file(INPUT_SHAPEFILE_PATH, sep = ';')

In [4]:
gdf = gdf.to_crs(4326)

In [5]:
gdf

,gm_code,gm_naam,geometry
0,GM0003,Appingedam,"POLYGON ((6.80583 53.31703, 6.80588 53.31704, ..."
1,GM0010,Delfzijl,"MULTIPOLYGON (((7.07833 53.26658, 7.07826 53.2..."
2,GM0014,Groningen,"POLYGON ((6.48047 53.24551, 6.48050 53.24579, ..."
3,GM0024,Loppersum,"POLYGON ((6.73921 53.38812, 6.73925 53.38815, ..."
4,GM0034,Almere,"MULTIPOLYGON (((5.21106 52.33159, 5.21106 52.3..."
...,...,...,...
350,GM1963,Hoeksche Waard,"MULTIPOLYGON (((4.57231 51.70007, 4.57053 51.6..."
351,GM1966,Het Hogeland,"MULTIPOLYGON (((6.29052 53.33942, 6.29052 53.3..."
352,GM1969,Westerkwartier,"POLYGON ((6.23175 53.25595, 6.23176 53.25599, ..."
353,GM1970,Noardeast-Fryslân,"MULTIPOLYGON (((6.17582 53.34599, 6.17582 53.3..."
354,GM1978,Molenlanden,"POLYGON ((4.62940 51.88084, 4.62932 51.88088, ..."

## Data management

In [6]:
df1

          ID  RegioS  Perioden  GemiddeldeVerkoopprijs_1
0        493  GM1680  1995JJ00                       NaN
1        494  GM1680  1996JJ00                       NaN
2        495  GM1680  1997JJ00                       NaN
3        496  GM1680  1998JJ00                  130136.0
4        497  GM1680  1999JJ00                  159338.0
...      ...     ...       ...                       ...
21107  21600  GM0193  2019JJ00                  293098.0
21108  21601  GM0193  2020JJ00                  315874.0
21109  21602  GM0193  2021JJ00                  363081.0
21110  21603  GM0193  2022JJ00                  414535.0
21111  21604  GM0193  2023JJ00                  410024.0

[21112 rows x 4 columns]

In [7]:
df_merged = df1.merge(gdf, left_on = "RegioS", right_on = "gm_code", how = "right")

In [8]:
df_merged

,ID,RegioS,Perioden,GemiddeldeVerkoopprijs_1,gm_code,gm_naam,geometry
0,1421,GM0003,1995JJ00,63239.0,GM0003,Appingedam,"POLYGON ((6.80583 53.31703, 6.80588 53.31704, ..."
1,1422,GM0003,1996JJ00,63839.0,GM0003,Appingedam,"POLYGON ((6.80583 53.31703, 6.80588 53.31704, ..."
2,1423,GM0003,1997JJ00,75184.0,GM0003,Appingedam,"POLYGON ((6.80583 53.31703, 6.80588 53.31704, ..."
3,1424,GM0003,1998JJ00,77023.0,GM0003,Appingedam,"POLYGON ((6.80583 53.31703, 6.80588 53.31704, ..."
4,1425,GM0003,1999JJ00,80202.0,GM0003,Appingedam,"POLYGON ((6.80583 53.31703, 6.80588 53.31704, ..."
...,...,...,...,...,...,...,...
10290,12436,GM1978,2019JJ00,302028.0,GM1978,Molenlanden,"POLYGON ((4.62940 51.88084, 4.62932 51.88088, ..."
10291,12437,GM1978,2020JJ00,337367.0,GM1978,Molenlanden,"POLYGON ((4.62940 51.88084, 4.62932 51.88088, ..."
10292,12438,GM1978,2021JJ00,373551.0,GM1978,Molenlanden,"POLYGON ((4.62940 51.88084, 4.62932 51.88088, ..."
10293,12439,GM1978,2022JJ00,450833.0,GM1978,Molenlanden,"POLYGON ((4.62940 51.88084, 4.62932 51.88088, ..."
10294,12440,GM1978,2023JJ00,404893.0,GM1978,Molenlanden,"POLYGON ((4.62940 51.88084, 4.62932 51.88088, ..."

In [9]:
df2

          Unnamed: 0   2019   2020   2021   2022   2023  2024**
0        Aa en Hunze  276.0  292.0  309.0  340.0  390.0   396.0
1           Aalsmeer  393.0  421.0  447.0  498.0  574.0   573.0
2             Aalten  234.0  249.0  265.0  294.0  347.0   366.0
3      Achtkarspelen  217.0  229.0  247.0  270.0  305.0   323.0
4       Alblasserdam  257.0  278.0  299.0  326.0  385.0   408.0
..               ...    ...    ...    ...    ...    ...     ...
355          Zundert  316.0  333.0  348.0  388.0  443.0   472.0
356          Zutphen  246.0  266.0  285.0  313.0  382.0   396.0
357  Zwartewaterland  245.0  255.0  270.0  299.0  338.0   357.0
358      Zwijndrecht  240.0  266.0  292.0  316.0  371.0   385.0
359           Zwolle  295.0  318.0  342.0  374.0  429.0   443.0

[360 rows x 7 columns]

In [10]:
mapping = {
    "Beek (L.)": "Beek",
    "'s-Gravenhage (gemeente)": "'s-Gravenhage",
    "Groningen (gemeente)": "Groningen",
    "Hengelo (O.)": "Hengelo",
    "Laren (NH.)": "Laren",
    "Middelburg (Z.)": "Middelburg",
    "Rijswijk (ZH.)": "Rijswijk",
    "Stein (L.)": "Stein",
    "Utrecht (gemeente)": "Utrecht",
}

In [11]:
# Function to adjust the value with the mapping
def update_name(name):
    return mapping.get(name, name)  # Use the value from the mapping, or leave unchanged if not found

# Customize the column
df2["Unnamed: 0"] = df2["Unnamed: 0"].apply(update_name)

In [12]:
df2.rename(columns = {"2024**	": "2024"}, inplace = True)

In [13]:
df2[df2.select_dtypes(include=['number']).columns] *= 1000

In [14]:
df2_right = df2.merge(gdf, left_on = "Unnamed: 0", right_on = "gm_naam", how = "right")
df2_left = df2.merge(gdf, left_on = "Unnamed: 0", right_on = "gm_naam", how = "left")

In [15]:
df2_left[df2_left["gm_naam"].isna()]

,Unnamed: 0,2019,2020,2021,2022,2023,2024**,gm_code,gm_naam,geometry
71,Dijk en Waard,NaN,NaN,NaN,350000.0,414000.0,443000.0,NaN,NaN,None
86,Eemsdelta,NaN,NaN,197000.0,218000.0,254000.0,272000.0,NaN,NaN,None
163,Land van Cuijk,NaN,NaN,NaN,346000.0,396000.0,426000.0,NaN,NaN,None
186,Maashorst,NaN,NaN,NaN,395000.0,455000.0,476000.0,NaN,NaN,None
314,Voorne aan Zee,NaN,NaN,NaN,NaN,424000.0,447000.0,NaN,NaN,None

In [16]:
df2_right[df2_right["Unnamed: 0"].isna()]

Empty DataFrame
Columns: [Unnamed: 0, 2019, 2020, 2021, 2022, 2023, 2024**, gm_code, gm_naam, geometry]
Index: []

df2_right is dus correct nu, de 5 gemeenten skippen we.

In [17]:
df2_right.rename(columns = {"2019": "2019_woz"}, inplace = True)
df2_right.rename(columns = {"2020": "2020_woz"}, inplace = True)
df2_right.rename(columns = {"2021": "2021_woz"}, inplace = True)
df2_right.rename(columns = {"2022": "2022_woz"}, inplace = True)
df2_right.rename(columns = {"2023": "2023_woz"}, inplace = True)

In [18]:
df2_right.drop(columns = ["Unnamed: 0", "gm_naam", "geometry", "2024**"], inplace = True)

In [19]:
df2_right

     2019_woz  2020_woz  2021_woz  2022_woz  2023_woz gm_code
0    179000.0  193000.0       NaN       NaN       NaN  GM0003
1    151000.0  160000.0       NaN       NaN       NaN  GM0010
2    257000.0  279000.0  304000.0  338000.0  393000.0  GM0014
3    192000.0  209000.0       NaN       NaN       NaN  GM0024
4    250000.0  282000.0  310000.0  348000.0  409000.0  GM0034
..        ...       ...       ...       ...       ...     ...
350  279000.0  301000.0  317000.0  347000.0  405000.0  GM1963
351  195000.0  209000.0  222000.0  247000.0  291000.0  GM1966
352  245000.0  258000.0  272000.0  300000.0  348000.0  GM1969
353  196000.0  204000.0  224000.0  266000.0  312000.0  GM1970
354  323000.0  334000.0  357000.0  397000.0  447000.0  GM1978

[355 rows x 6 columns]

In [20]:
merged = df2_right.merge(df1, left_on="gm_code", right_on="RegioS", how = "left")

In [21]:
merged

,2019_woz,2020_woz,2021_woz,2022_woz,2023_woz,gm_code,ID,RegioS,Perioden,GemiddeldeVerkoopprijs_1
0,179000.0,193000.0,NaN,NaN,NaN,GM0003,1421,GM0003,1995JJ00,63239.0
1,179000.0,193000.0,NaN,NaN,NaN,GM0003,1422,GM0003,1996JJ00,63839.0
2,179000.0,193000.0,NaN,NaN,NaN,GM0003,1423,GM0003,1997JJ00,75184.0
3,179000.0,193000.0,NaN,NaN,NaN,GM0003,1424,GM0003,1998JJ00,77023.0
4,179000.0,193000.0,NaN,NaN,NaN,GM0003,1425,GM0003,1999JJ00,80202.0
...,...,...,...,...,...,...,...,...,...,...
10290,323000.0,334000.0,357000.0,397000.0,447000.0,GM1978,12436,GM1978,2019JJ00,302028.0
10291,323000.0,334000.0,357000.0,397000.0,447000.0,GM1978,12437,GM1978,2020JJ00,337367.0
10292,323000.0,334000.0,357000.0,397000.0,447000.0,GM1978,12438,GM1978,2021JJ00,373551.0
10293,323000.0,334000.0,357000.0,397000.0,447000.0,GM1978,12439,GM1978,2022JJ00,450833.0
10294,323000.0,334000.0,357000.0,397000.0,447000.0,GM1978,12440,GM1978,2023JJ00,404893.0

In [22]:
# merged["verschil_woz_verkoop_2019"] = merged["2019"] - merged["2019_woz"]
# merged["verschil_woz_verkoop_2020"] = merged["2020"] - merged["2020_woz"]
# merged["verschil_woz_verkoop_2021"] = merged["2021"] - merged["2021_woz"]
# merged["verschil_woz_verkoop_2022"] = merged["2022"] - merged["2022_woz"]
# merged["verschil_woz_verkoop_2023"] = merged["2023"] - merged["2023_woz"]

In [23]:
# final = merged[["gm_code", "gm_naam", "verschil_woz_verkoop_2019", "verschil_woz_verkoop_2020", "verschil_woz_verkoop_2021", "verschil_woz_verkoop_2022", "verschil_woz_verkoop_2023"]]

In [24]:
# final[final['gm_naam'] == "Amsterdam"]

In [25]:
# df1[df1['gm_naam'] == "Amsterdam"]

In [26]:
# df2_right[df2_right['gm_code'] == "GM0363"]

We can only do this if we can link the WOZ values the sales prices to specific houses. Now we generalize average sales prices and WOZ values, so the difference between them is not representative. Indeed, it may be that houses in the lower price range are mostly sold, so that mean sales price is much lower than mean WOZ value. This is why we include average sales price in our model because it best represents supply and demand.

In [27]:
df1.rename(columns = {"RegioS": "gm_code"}, inplace = True)

In [28]:
# Remove "JJ00" from the 'Periods' column to leave only the year
df1['Jaar'] = df1['Perioden'].str[:4].astype(int)

# Create a pivot table
df_pivot = df1.pivot_table(
    index=['gm_code'],  # Index: Unique municipality information
    columns='Jaar',  # Columns: Years
    values='GemiddeldeVerkoopprijs_1',  # Values: Average sales price.
    aggfunc='first'  # Since there are no duplicate values, use 'first'
)

# Reset the index so that it becomes a flat table
df_pivot = df_pivot.reset_index()

# Adjust column names for better readability
df_pivot.columns.name = None  # Remove column name (Year)
df_pivot.columns = [f"{col}" if isinstance(col, int) else col for col in df_pivot.columns]

In [29]:
final = gdf.merge(df_pivot, on = "gm_code", how = "left")

## Save output

In [30]:
if SAVE_OUTPUT:
    final.to_csv(OUTPUT_DATA_PATH, sep = ';', index = False)

## Watermark

In [31]:
!python -m pip install watermark --quiet

In [32]:
%load_ext watermark

In [33]:
%watermark

Last updated: 2025-01-27T11:01:45.388738+01:00

Python implementation: CPython
Python version       : 3.11.5
IPython version      : 8.17.2

Compiler    : MSC v.1916 64 bit (AMD64)
OS          : Windows
Release     : 10
Machine     : AMD64
Processor   : Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
CPU cores   : 8
Architecture: 64bit

In [34]:
%watermark --iversions

numpy    : 1.26.1
geopandas: 0.14.0
pandas   : 2.1.2

In [35]:
!lsb_release -a

'lsb_release' is not recognized as an internal or external command,
operable program or batch file.